<footer class="footer">
    <div>
        <a href="https://opencollective.com/games-on-whales/donate" target="_blank">
            <img src="https://opencollective.com/webpack/donate/button@2x.png?color=white" width=250/>
        </a>
    </div>
    <p>Copyright &#169; ABeltramo and <a href="https://github.com/games-on-whales">GOW</a> contributors.</p>
    <p>Except where otherwise noted, docs are licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative
        Commons Attribution-ShareAlike 4.0 International</a> (CC BY-SA 4.0).</p>
</footer>