<footer class="footer">
    <p>Copyright (C) Alessandro Beltramo and <a href="https://github.com/games-on-whales">GOW</a> contributors.</p>
    <p>Except where otherwise noted, docs are licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> (CC BY-SA 4.0).</p>
</footer>